div{
  padding: 5px;
}

p{
  font-size: 36px;
  color: white;
}

#container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  box-shadow: 2px 3px 7px 0px rgba(255, 255, 255, 0.75);
  border-radius: 5px;
  margin: 10% 10% 10% 10%;
  padding-bottom: 50px;
}

.box{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: fit-content;
  height: fit-content;
  padding: 20px;
}

label{
  word-wrap: break-word;
  white-space: normal;
  color: white;
}

.row {
  display: grid;
  grid-template-columns: 120px 1fr; 
  gap: 20px;
  align-items: center;
  margin-bottom: 10px;
}

input {
  flex-grow: 1; 
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

button{
  padding: 10px;
  margin: 2px;
  width: fit-content;
  border-radius: 5px;
}

body{
background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}